:root {
  /* Palette */

  --neutral-0: 255 255 255;
  --neutral-50: 250 250 250;
  --neutral-100: 245 245 245;
  --neutral-200: 229 229 229;
  --neutral-300: 212 212 212;
  --neutral-400: 163 163 163;
  --neutral-500: 115 115 115;
  --neutral-600: 82 82 82;
  --neutral-700: 64 64 64;
  --neutral-800: 38 38 38;
  --neutral-900: 23 23 23;
  --neutral-950: 10 10 10;
  --neutral-1000: 0 0 0;

  --blue-50: 239 246 255;
  --blue-100: 219 234 254;
  --blue-200: 191 219 254;
  --blue-300: 147 197 253;
  --blue-400: 96 165 250;
  --blue-500: 59 130 246;
  --blue-600: 37 99 235;
  --blue-700: 29 78 216;
  --blue-800: 30 64 175;
  --blue-900: 30 58 138;
  --blue-950: 23 37 84;

  --red-50: 254 242 242;
  --red-100: 254 226 226;
  --red-200: 254 202 202;
  --red-300: 252 165 165;
  --red-400: 248 113 113;
  --red-500: 239 68 68;
  --red-600: 220 38 38;
  --red-700: 185 28 28;
  --red-800: 153 27 27;
  --red-900: 127 29 29;
  --red-950: 69 10 10;

  --yellow-50: 254 252 232;
  --yellow-100: 254 249 195;
  --yellow-200: 254 240 138;
  --yellow-300: 253 224, 71;
  --yellow-400: 250 204 21;
  --yellow-500: 234 179 8;
  --yellow-600: 202 138 4;
  --yellow-700: 161 98 7;
  --yellow-800: 133 77 14;
  --yellow-900: 113 63 18;
  --yellow-950: 66 32 6;

  --green-50: 240 253 244;
  --green-100: 220 252 231;
  --green-200: 187 247 208;
  --green-300: 134 239 172;
  --green-400: 74 222 128;
  --green-500: 34 197 94;
  --green-600: 22 163 74;
  --green-700: 21 128 61;
  --green-800: 22 101 52;
  --green-900: 20 83 45;
  --green-950: 5 46 22;

  --purple-50: 245 243 255;
  --purple-100: 237 233 254;
  --purple-200: 221 214 254;
  --purple-300: 196 181 253;
  --purple-400: 167 139 250;
  --purple-500: 139 92 246;
  --purple-600: 124 58 237;
  --purple-700: 109 40 217;
  --purple-800: 91 33 182;
  --purple-900: 76 29 149;
  --purple-950: 46 16 101;

  /* Text Weights */
  --weight-thin: 100;
  --weight-extralight: 200;
  --weight-light: 300;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extrabold: 800;
  --weight-black: 900;

  /* Colors */

  --color-background: var(--neutral-0);
  --color-surface-raised: var(--neutral-200);
  --color-surface: var(--neutral-100);
  --color-surface-lowered: var(--neutral-50);

  --color-accent: var(--blue-600);

  --color-text: var(--neutral-1000);
  --color-text-weak: var(--neutral-600);
  --color-text-weakest: var(--neutral-500);
  --color-text-on-accent: var(--neutral-0);
  --color-text-link: var(--blue-600);
  --color-text-warning: var(--yellow-700);
  --color-text-danger: var(--red-700);
  --color-text-info: var(--blue-700);
  --color-text-success: var(--green-700);
  --color-text-progress: var(--purple-700);

  --color-status-warning: var(--yellow-700);
  --color-status-warning-weak: var(--yellow-100);
  --color-status-neutral: var(--neutral-600);
  --color-status-neutral-weak: var(--neutral-100);
  --color-status-danger: var(--red-700);
  --color-status-danger-weak: var(--red-100);
  --color-status-success: var(--green-700);
  --color-status-success-weak: var(--green-100);
  --color-status-info: var(--blue-800);
  --color-status-info-weak: var(--blue-100);
  --color-status-progress: var(--purple-700);
  --color-status-progress-weak: var(--purple-100);

  --color-border: var(--neutral-200);
  --color-border-strong: var(--neutral-400);
  --color-border-hover: var(--neutral-800);
  --color-border-warning: var(--yellow-200);
  --color-border-danger: var(--red-200);
  --color-border-success: var(--green-200);
  --color-border-info: var(--blue-200);
  --color-border-progress: var(--purple-200);

  --color-icon: var(--neutral-600);
  --color-icon-hover: var(--neutral-800);

  --color-button: var(--neutral-0);
  --color-button-hover: var(--neutral-200);
}

html[data-theme='dark'] {
  --color-background: var(--neutral-1000);
  --color-surface-raised: var(--neutral-800);
  --color-surface: var(--neutral-900);
  --color-surface-lowered: var(--neutral-950);

  --color-accent: var(--blue-400);

  --color-text: var(--neutral-0);
  --color-text-weak: var(--neutral-400);
  --color-text-weakest: var(--neutral-600);
  --color-text-on-accent: var(--neutral-1000);
  --color-text-link: var(--blue-400);
  --color-text-warning: var(--yellow-700);
  --color-text-danger: var(--red-700);
  --color-text-info: var(--blue-700);
  --color-text-success: var(--green-700);
  --color-text-progress: var(--purple-700);

  --color-status-warning: var(--yellow-700);
  --color-status-warning-weak: var(--yellow-800);
  --color-status-neutral: var(--neutral-600);
  --color-status-neutral-weak: var(--neutral-800);
  --color-status-danger: var(--red-700);
  --color-status-danger-weak: var(--red-100);
  --color-status-success: var(--green-700);
  --color-status-success-weak: var(--green-800);
  --color-status-info: var(--blue-800);
  --color-status-info-weak: var(--blue-100);
  --color-status-progress: var(--purple-700);
  --color-status-progress-weak: var(--purple-800);

  --color-border: var(--neutral-800);
  --color-border-strong: var(--neutral-600);
  --color-border-hover: var(--neutral-800);
  --color-border-warning: var(--yellow-200);
  --color-border-danger: var(--red-200);
  --color-border-success: var(--green-200);
  --color-border-info: var(--blue-700);
  --color-border-progress: var(--purple-200);

  --color-icon: var(--neutral-600);
  --color-icon-hover: var(--neutral-800);

  --color-button: var(--neutral-950);
  --color-button-hover: var(--neutral-800);
  --weight-thin: 100;
  --weight-extralight: 100;
  --weight-light: 200;
  --weight-normal: 300;
  --weight-medium: 400;
  --weight-semibold: 500;
  --weight-bold: 600;
  --weight-extrabold: 700;
  --weight-black: 800;
}


